.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.logoContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logoImage {
    height: 45px;
    width: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.navLink, .logoutBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text-light);
    transition: all 0.2s;
    gap: 2px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.icon {
    font-size: 18px;
}

.label {
    font-size: 8px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* ESTADOS */
.active {
    color: var(--primary-color);
}

.upgrade {
    color: #f59e0b;
}

.premiumText {
    color: #f59e0b;
}

.logoutBtn {
    color: #ef4444;
}

/* RESPONSIVE */
@media (min-width: 768px) {
    .navbar {
        padding: 0 40px;
        justify-content: flex-end;
        gap: 32px;
    }

    .logoContainer {
        margin-right: auto;
    }

    .logoImage {
        height: 120px;
    }

    .label {
        font-size: 10px;
        letter-spacing: 1px;
    }

    .icon {
        font-size: 22px;
    }
}